.home-content {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-msg {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 42px;
    align-items: center;
    justify-items: center;
    padding: 0 20px;
    padding-bottom: 80px;
}

.home-msg img {
    grid-row: 1/3;
    width: 300px;
}

.home-msg h1 {
    font-size: 36px;
    font-family: Rubik;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 60px;
}

.home-msg h1 span {
    color: orangered;
}

.home-msg a {
    text-decoration: none;
    color: black;
    padding: 6px 12px;
    border-radius: 6px;
    transition: all .15s ease-in-out;
    font-size: 16px;
    font-family: 'Source Sans 3';
    letter-spacing: 1px;
    border: solid 2px rgb(34, 34, 34);
}

.home-msg a:hover {
    background-color: rgb(34, 34, 34);
    color: white;
}

@media screen and (max-width: 1000px) {
    .home-content {
        margin-top: 75px;
    }

    .home-msg {
        grid-template-columns: auto;
        row-gap: 40px;
    }

    .home-msg img {
        width: 200px;
        grid-row: inherit;
    }

    .home-msg h1 {
        text-align: center;
        font-size: 30px;
        line-height: 52px;
    }

    .home-msg a {
        font-size: 16px;
    }
}







/* Home Products */

.home-products {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 180px 0;
}

.home-products h2 {
    font-family: Roboto;
    font-weight: 600;
}

.home-products .product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    background-color: black;
    padding: 28px 80px;
}

.home-products .product-list .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(89, 65, 74);
    padding-bottom: 18px;
    transition: all .25s ease-in-out;
}

.home-products .product-list .product-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.home-products .product-list .product-item span {
    font-family: Poppins;
}

.home-products .product-list .product-item:hover {
    background-color: rgb(119, 88, 99);
}

@media screen and (max-width: 1180px) {
    .home-products .product-list {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 24px;
    }
}

@media screen and (max-width: 920px) {
    .home-products .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 680px) {
    .home-products .product-list {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 450px) {
    .home-products .product-list {
        padding: 28px 26px;
    }

    .home-products {
        padding: 140px 20px;
    }

    .home-products .product-list .product-item img {
        width: 180px;
        height: 180px;
    }
}









/* About Content */

.about-us-section {
    margin: 0 262px;
}

.about-us-section h2 {
    font-family: Poppins;
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
    font-weight: 600;
}

.about-us-section .about-us-card {
    display: grid;
    grid-template-areas: 'about-para about-para' 'about-services about-img' 'about-services about-btn' 'about-faq about-faq' 'about-links about-links';
    column-gap: 28px;
    row-gap: 54px;
}

.about-us-section .about-us-card>p {
    grid-area: about-para;
    font-family: Poppins;
    font-size: 15px;
    line-height: 26px;
}

.about-us-section .about-us-card .services {
    grid-area: about-services;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.about-us-section .about-us-card .services h3 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
}

.about-us-section .about-us-card .services .service-list {
    display: flex;
    flex-direction: column;
}

.about-us-section .about-us-card .services .service-list span {
    font-family: Poppins;
    font-size: 15px;
    padding: 16px 0;
    border-top: solid 1px rgba(56, 56, 56, 0.2);
}

.about-us-section .about-us-card .services .service-list span:last-child {
    border-bottom: solid 1px rgba(56, 56, 56, 0.2);
}

.about-us-section .about-us-card .services .service-list span i {
    margin-right: 8px;
    color: rgb(0, 136, 120);
    transition: all .15s ease-in-out;
}

.about-us-section .about-us-card .img-list {
    display: flex;
    column-gap: 8px;
    justify-self: center;
}

.about-us-section .about-us-card .img-list img {
    grid-area: about-img;
    width: 140px;
    height: 230px;
    object-fit: cover;
}

.about-us-section .about-us-card .explore-btn {
    grid-area: about-btn;
    text-decoration: none;
    color: black;
    font-family: 'Source Sans 3';
    font-size: 16px;
    border: solid 2px black;
    padding: 6px 12px;
    border-radius: 6px;
    transition: all .15s ease-in-out;
    justify-self: center;
}

.about-us-section .about-us-card .explore-btn:hover {
    background-color: black;
    color: white;
}

.about-us-section .about-us-card .faq {
    grid-area: about-faq;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    margin-top: 80px;
}

.about-us-section .about-us-card .faq h3 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
}

.about-us-section .about-us-card .faq .faq-list {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}

.about-us-section .about-us-card .faq .faq-list>div {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.about-us-section .about-us-card .faq .faq-list>div>div {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.about-us-section .about-us-card .faq .faq-list>div>div button {
    font-family: Poppins;
    font-size: 12px;
    background-color: orangered;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    color: white;
}

.about-us-section .about-us-card .faq .faq-list>div>div span {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}

.about-us-section .about-us-card .faq .faq-list>div p {
    font-family: Poppins;
    font-size: 14px;
    line-height: 24px;
}

@media screen and (max-width: 1225px) {
    .about-us-section {
        margin: 0 140px;
    }
}

@media screen and (max-width: 900px) {

    .about-us-section {
        margin: 28px;
    }

    .about-us-section .about-us-card {
        grid-template-areas: 'about-para' 'about-services' 'about-img' 'about-btn' 'about-faq' 'about-links';
        justify-items: center;
    }

    .about-us-section .about-us-card>p,
    .about-us-section .about-us-card .services .service-list span {
        font-size: 14px;
    }
}

@media screen and (max-width: 350px) {
    .about-us-section .about-us-card .img-list {
        flex-direction: column;
        row-gap: 12px;
    }
}



/* Contact Us */

.footer {
    margin-top: 60px;
    width: 100%;
    background-color: black;
}

.footer .top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 32px 0;
}

.footer .nav-links {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 70px;
    row-gap: 20px;
}

.footer .nav-links a {
    text-decoration: none;
    color: rgb(222, 222, 222);
    font-family: Poppins;
    font-size: 14px;
    transition: all .15s ease;
}

.footer .contact-tab {
    display: flex;
    flex-direction: column;
}

.footer .contact-tab span {
    font-family: Poppins;
    font-size: 14px;
    padding: 12px 0;
    color: rgb(222, 222, 222);
}

.footer .contact-tab span i {
    font-size: 14px;
    margin-right: 8px;
    color: rgb(0, 136, 120);
    transition: all .15s ease-in-out;
}

.footer .bottom {
    display: flex;
    justify-content: end;
    column-gap: 24px;
    margin: 8px 20px;
}

.footer .bottom span {
    color: rgb(222, 222, 222);
    font-family: Poppins;
    font-size: 12px;
    margin-right: auto;
}

.footer .bottom a {
    text-decoration: none;
    color: rgb(222, 222, 222);
    font-family: Poppins;
    font-size: 12px;
}

@media screen and (max-width: 700px) {
    .footer .top {
        flex-direction: column;
        row-gap: 60px;
    }
}

@media screen and (max-width: 550px) {
    .footer .bottom {
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer .bottom span {
        margin-left: auto;
    }
}

@media screen and (max-width: 350px) {
    .footer .nav-links a {
        font-size: 12px;
    }

    .footer .contact-tab span {
        font-size: 12px;
    }
}








/* Policy Content */

.policy-content {
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    row-gap: 140px;
}

.policy-content .policy-section {
    margin: 0 262px;
}

.policy-content .policy-section h2 {
    font-family: Poppins;
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 600;
}

.policy-content .policy-section .policy-card {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.policy-content .policy-section .policy-card {
    font-family: 'Source Sans 3';
}







/* Terms & Conditions Content */

.terms-content {
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    row-gap: 140px;
}

.terms-content .terms-section {
    margin: 0 262px;
}

.terms-content .terms-section h2 {
    font-family: Poppins;
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 600;
}

.terms-content .terms-section .terms-card {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.terms-content .terms-section .terms-card li {
    font-family: 'Source Sans 3';
}