.login-content {
    padding-top: 158px;
    padding-bottom: 320px;
    display: flex;
    justify-content: center;
}

.login-section {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    padding-bottom: 80px;
}

.login-section h1 {
    font-family: Poppins;
    font-size: 24px;
    text-align: center;
    margin-bottom: 12px;
    font-weight: 600;
}

.login-card {
    background-color: rgb(255, 255, 255);
    padding: 28px 36px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto;
    gap: 20px 18px;
    min-width: 320px;
    box-shadow: 0 6px 16px -16px #888888;
}

.login-card>div {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.login-card>div label {
    font-family: Poppins;
    font-size: 13px;
}

.login-card>div input {
    font-family: Poppins;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 4px;
    border: solid 1px rgb(34, 34, 34);
    width: 100%;
}

.login-card>div input:focus {
    outline-color: rgb(90, 90, 90);
}

.login-card button {
    justify-self: end;
    padding: 6px 12px;
    font-family: Poppins;
    font-size: 13px;
    cursor: pointer;
    background: none;
    border-radius: 4px;
    border: solid 1px rgb(34, 34, 34);
    transition: all .15s ease-in-out;
}

.login-card button:hover {
    background-color: rgb(34, 34, 34);
    color: white;
}

.login-card p {
    font-family: Poppins;
    font-size: 14px;
    text-align: center;
}

.login-card p a {
    color: black;
}

@media screen and (max-width: 700px) {
    .login-content {
        padding-bottom: 480px;
    }
}

@media screen and (max-width: 420px) {
    .login-card {
        min-width: auto;
    }
}

@media screen and (max-width: 290px) {
    .login-content {
        padding-bottom: 580px;
    }
}