.statistics {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    margin: 28px 0;
    padding: 0 40px;
}

.statistics h1 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
}

.statistics select {
    border: solid 1px black;
    background: none;
    padding: 4px 8px;
    align-self: end;
}

.statistics select:focus {
    outline: none;
}

.statistics select option {
    font-family: Poppins;
}

.statistics-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.statistics-cards>div {
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 28px 36px;
    border-radius: 20px;
    box-shadow: 0 6px 16px -16px #888888;
}

.statistics-cards>div h3 {
    font-family: Poppins;
    font-weight: 600;
}

.statistics-cards>div span {
    font-family: Poppins;
}

@media screen and (max-width: 750px) {
    .statistics-cards {
        grid-template-columns: auto;
    }

    .statistics {
        padding: 0 20px;
    }
}