/* Template Card */

.account-content {
    padding-top: 140px;
    padding-bottom: 320px;
    display: flex;
    justify-content: center;
}

.account-content .account-section {
    margin: 0 20px;
    display: flex;
    background-color: white;
    box-shadow: 0 6px 16px -16px #888888;
}

.account-content .account-section .links {
    display: flex;
    flex-direction: column;
    border-right: solid 1px rgba(56, 56, 56, 0.2);
    padding: 18px 0;
}

.account-content .account-section .links a {
    text-decoration: none;
    color: black;
    font-family: Poppins;
    font-size: 14px;
    border-bottom: solid 1px rgba(56, 56, 56, 0.2);
    padding: 12px 40px;
}

.account-content .account-section .links a:last-child {
    border-bottom: none;
}

.account-content .account-section .links a:hover {
    background-color: whitesmoke;
}

.account-content .account-section .links a.active {
    color: rgb(33, 130, 69);
}

.account-content .account-section>.details {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    padding: 28px 40px;
    min-width: 600px;
}

.account-content .account-section>.details .back-btn {
    text-decoration: none;
    color: black;
}

.account-content .account-section>.details h1 {
    font-family: 'Source Sans 3';
    font-weight: 600;
    font-size: 26px;
}

.account-content .account-section>.details>p {
    font-family: Rubik;
    font-size: 14px;
    color: #888888;
}

@media screen and (max-width: 700px) {
    .account-content {
        padding-bottom: 480px;
    }
}

@media screen and (max-width: 290px) {
    .account-content {
        padding-bottom: 580px;
    }
}








/* Profile Details */

.account-content .account-section>.details .profile-details {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px 18px;
}

.account-content .account-section>.details .profile-details>div {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.account-content .account-section>.details .profile-details>div label {
    font-family: Poppins;
    font-size: 13px;
}

.account-content .account-section>.details .profile-details>div input {
    font-family: Poppins;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 4px;
    border: solid 1px rgb(34, 34, 34);
    width: 100%;
}

.account-content .account-section>.details .profile-details>div input:focus {
    outline-color: rgb(90, 90, 90);
}

.account-content .account-section>.details .profile-details .address-field {
    grid-column: 1/3;
}

.account-content .account-section>.details .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.account-content .account-section>.details .edit {
    text-decoration: none;
    color: black;
    font-family: 'Source Sans 3';
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 6px;
    border: solid 1px black;
    display: flex;
    align-items: center;
}

.account-content .account-section>.details .edit:hover {
    background-color: black;
    color: white;
}

.account-content .account-section>.details .delete {
    text-decoration: none;
    color: white;
    font-family: 'Source Sans 3';
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: rgb(211, 58, 56);
    display: flex;
    align-items: center;
    transition: all .25s ease-in-out;
}

.account-content .account-section>.details .delete:hover {
    background-color: rgb(187, 51, 48);
}

@media screen and (max-width: 950px) {
    .account-content .account-section>.details {
        min-width: auto;
    }
}

@media screen and (max-width: 650px) {
    .account-content .account-section>.details .profile-details {
        grid-template-columns: auto;
    }

    .account-content .account-section>.details .profile-details .address-field {
        grid-column: auto;
    }

    .account-content .account-section>.details .buttons {
        flex-direction: column;
        align-items: center;
        row-gap: 12px;
    }
}

@media screen and (max-width: 580px) {
    .account-content .account-section {
        flex-direction: column;
    }

    .account-content .account-section .links {
        align-items: center;
        border-right: none;
        border-bottom: solid 1px rgba(56, 56, 56, 0.2);
    }

    .account-content .account-section .links a {
        width: 100%;
        text-align: center;
    }
}







/* Edit Profile Details */

.account-content .account-section>.details .edit-profile-details {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px 18px;
}

.account-content .account-section>.details .edit-profile-details>div {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.account-content .account-section>.details .edit-profile-details>div label {
    font-family: Poppins;
    font-size: 13px;
}

.account-content .account-section>.details .edit-profile-details>div input {
    font-family: Poppins;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 4px;
    border: solid 1px rgb(34, 34, 34);
    width: 100%;
}

.account-content .account-section>.details .edit-profile-details>div input:focus {
    outline-color: rgb(90, 90, 90);
}

.account-content .account-section>.details .edit-profile-details .address-field {
    grid-column: 1/3;
}

.account-content .account-section>.details .edit-profile-details>input[type=submit] {
    grid-column: 1/3;
    justify-self: end;
    font-family: 'Source Sans 3';
    padding: 6px 12px;
    border-radius: 6px;
    border: solid 1px black;
    background: none;
    cursor: pointer;
}

.account-content .account-section>.details .edit-profile-details>input[type=submit]:hover {
    background-color: black;
    color: white;
}

#editProfileCardMsg {
    font-family: Poppins;
    font-size: 14px;
    text-align: center;
    grid-column: 1/3;
}

@media screen and (max-width: 650px) {
    .account-content .account-section>.details .edit-profile-details {
        grid-template-columns: auto;
    }

    .account-content .account-section>.details .edit-profile-details .address-field,
    .account-content .account-section>.details .edit-profile-details>input[type=submit],
    #editProfileCardMsg {
        grid-column: auto;
    }
}







/* Recent Orders */

.account-content .account-section>.details .recent-orders-list {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.account-content .account-section>.details .recent-orders-list .item {
    display: flex;
    box-shadow: 0 6px 16px -16px #888888;
}

.account-content .account-section>.details .recent-orders-list .item .item-info {
    background-color: whitesmoke;
    padding: 28px 32px;
    display: grid;
    grid-template-areas:
        'recent-order-id recent-order-details recent-order-status'
        'recent-order-img recent-order-options recent-order-pricing';
    align-items: center;
    column-gap: 40px;
    row-gap: 24px;
    width: 100%;
    border-radius: 12px 0 0 12px;
}

.account-content .account-section>.details .recent-orders-list .item .item-info .order-id {
    grid-area: recent-order-id;
    font-family: Poppins;
    font-size: 14px;
    background-color: rgb(42, 42, 42);
    color: white;
    align-self: start;
    justify-self: start;
    padding: 4px 8px;
    border-radius: 12px;
}

.account-content .account-section>.details .recent-orders-list .item .item-info>img {
    grid-area: recent-order-img;
    width: 110px;
    height: 110px;
    object-fit: cover;
}

.account-content .account-section>.details .recent-orders-list .item .item-info .order-details {
    grid-area: recent-order-details;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    width: 280px;
}

.account-content .account-section>.details .recent-orders-list .item .item-info .order-details p {
    font-family: Poppins;
    font-size: 14px;
}

.account-content .account-section>.details .recent-orders-list .item .item-info .options {
    grid-area: recent-order-options;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    width: 280px;
}

.account-content .account-section>.details .recent-orders-list .item .item-info .options li {
    font-family: Poppins;
    font-size: 14px;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.account-content .account-section>.details .recent-orders-list .item .item-info .options li .color {
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.account-content .account-section>.details .recent-orders-list .item .item-info .options li img {
    width: 100px;
}

.account-content .account-section>.details .recent-orders-list .item .item-info .options li a {
    text-decoration: none;
    color: black;
    font-family: Poppins;
    font-size: 12px;
    padding: 4px 8px;
    border: solid 1px black;
    border-radius: 4px;
}

.account-content .account-section>.details .recent-orders-list .item .item-info .options li a:hover {
    background-color: black;
    color: white;
}

.account-content .account-section>.details .recent-orders-list .item .item-info .status {
    background-color: rgb(0, 136, 120);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    padding: 6px 12px;
    align-self: start;
    justify-self: end;
    width: 100%;
}

.account-content .account-section>.details .recent-orders-list .item .item-info .status i {
    font-size: 14px;
    color: white;
}

.account-content .account-section>.details .recent-orders-list .item .item-info .status p {
    font-family: Poppins;
    font-size: 14px;
    color: white;
}

.account-content .account-section>.details .recent-orders-list .item .item-info .pricing {
    grid-area: recent-order-pricing;
    align-self: end;
    justify-self: end;
    background-color: orangered;
    padding: 8px 16px;
    border-radius: 12px;
}

.account-content .account-section>.details .recent-orders-list .item .item-info .pricing p {
    font-family: Poppins;
    font-size: 14px;
    color: white;
}

@media screen and (max-width: 1240px) {
    .admin-content .user-orders {
        margin: 0;
        margin-bottom: 28px;
    }

    .account-content .account-section>.details .recent-orders-list .item .item-info {
        grid-template-areas:
            'recent-order-id'
            'recent-order-img'
            'recent-order-details'
            'recent-order-options'
            'recent-order-pricing'
            'recent-order-status';
    }

    .account-content .account-section>.details .recent-orders-list .item .item-info .order-id {
        justify-self: center;
    }

    .account-content .account-section>.details .recent-orders-list .item .item-info>img {
        justify-self: center;
    }

    .account-content .account-section>.details .recent-orders-list .item .item-info .order-details {
        width: auto;
    }

    .account-content .account-section>.details .recent-orders-list .item .item-info .user {
        justify-self: auto;
    }

    .account-content .account-section>.details .recent-orders-list .item .item-info .pricing {
        justify-self: start;
        align-self: auto;
    }
}

@media screen and (max-width: 540px) {
    .account-content .account-section>.details .recent-orders-list .item {
        flex-direction: column;
    }

    .account-content .account-section>.details .recent-orders-list .item .item-info {
        border-radius: 12px 12px 0 0;
    }
}

@media screen and (max-width: 450px) {

    .account-content .account-section>.details .recent-orders-list .item .item-info .order-details,
    .account-content .account-section>.details .recent-orders-list .item .item-info .options {
        width: auto;
    }

    .account-content .account-section>.details .recent-orders-list .item .item-info .options li {
        flex-direction: column;
        align-items: start;
    }
}