/* About Content */

.about-content {
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    row-gap: 140px;
}

.about-content .about-us-section {
    margin: 0 262px;
}

.about-content .about-us-section h2 {
    font-family: Poppins;
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
    font-weight: 600;
}

.about-content .about-us-section .about-us-card {
    display: grid;
    grid-template-areas: 'about-para about-para' 'about-services about-img' 'about-services about-btn' 'about-faq about-faq' 'about-links about-links';
    column-gap: 28px;
    row-gap: 54px;
}

.about-content .about-us-section .about-us-card>p {
    grid-area: about-para;
    font-family: Poppins;
    font-size: 15px;
    line-height: 26px;
}

.about-content .about-us-section .about-us-card .services {
    grid-area: about-services;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.about-content .about-us-section .about-us-card .services h3 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
}

.about-content .about-us-section .about-us-card .services .service-list {
    display: flex;
    flex-direction: column;
}

.about-content .about-us-section .about-us-card .services .service-list span {
    font-family: Poppins;
    font-size: 15px;
    padding: 16px 0;
    border-top: solid 1px rgba(56, 56, 56, 0.2);
}

.about-content .about-us-section .about-us-card .services .service-list span:last-child {
    border-bottom: solid 1px rgba(56, 56, 56, 0.2);
}

.about-content .about-us-section .about-us-card .services .service-list span i {
    margin-right: 8px;
    color: rgb(0, 136, 120);
    transition: all .15s ease-in-out;
}

.about-content .about-us-section .about-us-card .img-list {
    display: flex;
    column-gap: 8px;
    justify-self: center;
}

.about-content .about-us-section .about-us-card .img-list img {
    grid-area: about-img;
    width: 140px;
    height: 230px;
    object-fit: cover;
}

.about-content .about-us-section .about-us-card .explore-btn {
    grid-area: about-btn;
    text-decoration: none;
    color: black;
    font-family: 'Source Sans 3';
    font-size: 16px;
    border: solid 2px black;
    padding: 6px 12px;
    border-radius: 6px;
    transition: all .15s ease-in-out;
    justify-self: center;
}

.about-content .about-us-section .about-us-card .explore-btn:hover {
    background-color: black;
    color: white;
}

.about-content .about-us-section .about-us-card .faq {
    grid-area: about-faq;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.about-content .about-us-section .about-us-card .faq h3 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
}

.about-content .about-us-section .about-us-card .faq .faq-list {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.about-content .about-us-section .about-us-card .faq .faq-list>div {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.about-content .about-us-section .about-us-card .faq .faq-list>div>div {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.about-content .about-us-section .about-us-card .faq .faq-list>div>div button {
    font-family: Poppins;
    font-size: 12px;
    background-color: orangered;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    color: white;
}

.about-content .about-us-section .about-us-card .faq .faq-list>div>div span {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}

.about-content .about-us-section .about-us-card .faq .faq-list>div p {
    font-family: Poppins;
    font-size: 14px;
    line-height: 24px;
}

.about-content .about-us-section .about-us-card .links {
    grid-area: about-links;
    font-family: Poppins;
    font-size: 14px;
    color: black;
}

.about-content .about-us-section .about-us-card .links a {
    color: black;
}

@media screen and (max-width: 1225px) {
    .about-content .about-us-section {
        margin: 0 140px;
    }
}

@media screen and (max-width: 900px) {
    .about-content {
        padding-top: 28px;
    }

    .about-content .about-us-section {
        margin: 28px;
    }

    .about-content .about-us-section .about-us-card {
        grid-template-areas: 'about-para' 'about-services' 'about-img' 'about-btn' 'about-faq' 'about-links';
        justify-items: center;
    }

    .about-content .about-us-section .about-us-card>p,
    .about-content .about-us-section .about-us-card .services .service-list span {
        font-size: 14px;
    }
}

@media screen and (max-width: 350px) {
    .about-content .about-us-section .about-us-card .img-list {
        flex-direction: column;
        row-gap: 12px;
    }
}



/* Contact Us */

.about-content .contact-us-section {
    padding: 0 310px;
}

.about-content .contact-us-section h2 {
    font-family: Poppins;
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 600;
}

.about-content .contact-us-section .contact-tab {
    display: flex;
    justify-content: space-between;
}

.about-content .contact-us-section .contact-tab .contact-list {
    display: flex;
    flex-direction: column;
}

.about-content .contact-us-section .contact-tab .contact-list span {
    font-family: Poppins;
    font-size: 15px;
    padding: 16px 0;
}

.about-content .contact-us-section .contact-tab .contact-list span i {
    margin-right: 8px;
    color: rgb(0, 136, 120);
    transition: all .15s ease-in-out;
}

.about-content .contact-us-section .contact-tab .location iframe {
    width: 340px;
    height: 200px;
}

@media screen and (max-width: 1300px) {
    .about-content .contact-us-section {
        padding: 0 200px;
    }
}

@media screen and (max-width: 1100px) {
    .about-content .contact-us-section h2 {
        text-align: center;
    }

    .about-content .contact-us-section .contact-tab {
        flex-direction: column;
        align-items: center;
        row-gap: 80px;
    }
}

@media screen and (max-width: 670px) {
    .about-content .contact-us-section {
        padding: 0 20px;
    }

    .about-content .contact-us-section .contact-tab .contact-list span {
        font-size: 14px;
    }
}

@media screen and (max-width: 420px) {
    .about-content .contact-us-section .contact-tab .location iframe {
        width: 220px;
        height: 120px;
    }
}

@media screen and (max-width: 320px) {
    .about-content .contact-us-section .contact-tab .contact-list span {
        font-size: 12px;
    }
}






/* Policy Content */

.policy-content {
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    row-gap: 140px;
}

.policy-content .policy-section {
    margin: 0 262px;
}

.policy-content .policy-section h2 {
    font-family: Poppins;
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 600;
}

.policy-content .policy-section .policy-card {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.policy-content .policy-section .policy-card {
    font-family: 'Source Sans 3';
}







/* Terms & Conditions Content */

.terms-content {
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    row-gap: 140px;
}

.terms-content .terms-section {
    margin: 0 262px;
}

.terms-content .terms-section h2 {
    font-family: Poppins;
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 600;
}

.terms-content .terms-section .terms-card {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.terms-content .terms-section .terms-card li {
    font-family: 'Source Sans 3';
}