@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    min-height: 100vh;
    background: #eff0f5;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

@media screen and (max-width: 1220px) {
    .container {
        padding-top: 120px;
    }
}




/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-areas: 'nav-logo nav-search nav-search nav-search nav-cart nav-list';
    align-items: center;
    justify-content: space-between;
    padding: 18px 220px;
    border-bottom: solid 1px rgba(56, 56, 56, 0.2);
    background: #eff0f5;
    z-index: 2;
}

.nav-logo {
    grid-area: nav-logo;
}

.nav-logo a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: Poppins;
}

.nav-logo a span {
    font-weight: 700;
    font-size: 24px;
}

.nav-search {
    grid-area: nav-search;
}

.nav-search .search {
    position: relative;
}

.nav-search .search input {
    width: 100%;
    font-family: 'Source Sans 3';
    font-size: 15px;
    border: solid 1px rgba(0, 0, 0, 0.4);
    padding: 8px 18px;
    border-radius: 18px;
}

.nav-search .search input::-webkit-search-cancel-button {
    display: none;
}

.nav-search .search a {
    text-decoration: none;
    font-size: 12px;
    position: absolute;
    top: 5.8px;
    right: 5px;
    color: white;
    background-color: rgb(0, 156, 138);
    padding: 8px 16px;
    border-radius: 18px;
    transition: all .15s ease-in-out;
    display: flex;
}

.nav-search .search a:hover {
    background-color: rgb(0, 136, 120);
}

.nav-search .search input:focus {
    outline-width: 2px;
    outline-color: rgb(0, 127, 132);
}

.nav-cart {
    grid-area: nav-cart;
}

.nav-cart a {
    text-decoration: none;
    color: black;
    display: flex;
}

.nav-cart a i {
    position: relative;
}

.nav-cart a i span {
    font-size: 10px;
    font-family: 'Source Sans 3';
    background-color: orangered;
    color: white;
    position: absolute;
    top: -6px;
    right: -10px;
    padding: 2px;
    border-radius: 3px;
}

.nav-list {
    grid-area: nav-list;
    display: flex;
    align-items: stretch;
    column-gap: 22px;
}

.nav-list a {
    text-decoration: none;
    color: black;
    padding: 4px 12px;
    border-radius: 4px;
    transition: all .15s ease-in-out;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-family: 'Source Sans 3';
}

.nav-list a:hover {
    background-color: rgb(230, 230, 230);
}

.nav-list .login-btn {
    border: solid 2px rgb(0, 156, 138);
}

.nav-list .login-btn:hover {
    background-color: rgb(230, 230, 230);
}

.nav-list .sign-btn {
    background-color: rgb(0, 156, 138);
    color: white;
}

.nav-list .sign-btn:hover {
    background-color: rgb(0, 136, 120);
}

.nav-list-control {
    display: none;
    flex-direction: column;
    row-gap: 4px;
    cursor: pointer;
}

.nav-list-control div {
    background-color: black;
    height: 2px;
    width: 20px;
    transition: all .45s ease;
}

@media screen and (max-width: 1300px) {
    .navbar {
        grid-template-areas: 'nav-logo nav-search nav-cart nav-list';
    }
}

@media screen and (max-width: 1220px) {
    .navbar {
        grid-template-areas: 'nav-logo nav-cart nav-list' 'nav-search nav-search nav-search';
        row-gap: 12px;
    }
}

@media screen and (max-width: 1000px) {
    .navbar {
        justify-content: space-around;
        padding: 12px 0;
    }

    .nav-list {
        background-color: whitesmoke;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        right: -100%;
        transition: all .45s ease-in-out;
    }

    .nav-list-control {
        display: flex;
        z-index: 1;
    }
}






/* Home Content */

.home-content {
    margin-top: 150px;
}

.home-msg {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 42px;
    align-items: center;
    justify-items: center;
    padding: 0 20px;
    padding-bottom: 80px;
}

.home-msg img {
    grid-row: 1/3;
    width: 300px;
}

.home-msg h1 {
    font-size: 36px;
    font-family: Rubik;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 60px;
}

.home-msg h1 span {
    color: orangered;
}

.home-msg a {
    text-decoration: none;
    color: black;
    padding: 6px 12px;
    border-radius: 6px;
    transition: all .15s ease-in-out;
    font-size: 16px;
    font-family: 'Source Sans 3';
    letter-spacing: 1px;
    border: solid 2px rgb(34, 34, 34);
}

.home-msg a:hover {
    background-color: rgb(34, 34, 34);
    color: white;
}

@media screen and (max-width: 1000px) {
    .home-content {
        margin-top: 75px;
    }

    .home-msg {
        grid-template-columns: auto;
        row-gap: 40px;
    }

    .home-msg img {
        width: 200px;
        grid-row: inherit;
    }

    .home-msg h1 {
        text-align: center;
        font-size: 30px;
        line-height: 52px;
    }

    .home-msg a {
        font-size: 16px;
    }
}







/* Sign Up Content */

.signup-content {
    margin-top: 42px;
}

.signup-section {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    padding-bottom: 80px;
}

.signup-section h1 {
    font-family: Poppins;
    font-size: 24px;
    text-align: center;
    margin-bottom: 12px;
    font-weight: 600;
}

.signup-card {
    background-color: rgb(255, 255, 255);
    padding: 28px 36px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px 18px;
    min-width: 560px;
}

.signup-card>div {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.signup-card>div label {
    font-family: Poppins;
    font-size: 13px;
}

.signup-card>div input {
    font-family: Poppins;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 4px;
    border: solid 1px rgb(34, 34, 34);
    width: 100%;
}

.signup-card>div input:focus {
    outline-color: rgb(90, 90, 90);
}

.email-field {
    grid-column: 1/3;
}

.agree-terms-field {
    flex-direction: row !important;
    column-gap: 8px;
    grid-column: 1/3;
    align-items: center;
}

.agree-terms-field input {
    width: inherit !important;
}

.signup-card button {
    grid-column: 1/3;
    justify-self: end;
    padding: 6px 12px;
    font-family: Poppins;
    font-size: 13px;
    cursor: pointer;
    background: none;
    border-radius: 4px;
    border: solid 1px rgb(34, 34, 34);
    transition: all .25s ease;
}

.signup-card button:hover {
    background-color: rgb(34, 34, 34);
    color: white;
}

@media screen and (max-width: 750px) {
    .signup-card {
        grid-template-columns: auto;
        min-width: auto;
    }

    .agree-terms-field {
        column-gap: 12px;
    }

    .email-field,
    .agree-terms-field,
    .signup-card button {
        grid-column: inherit;
    }
}






/* Login Content */

.login-content {
    margin-top: 88px;
}

.login-section {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    padding-bottom: 80px;
}

.login-section h1 {
    font-family: Poppins;
    font-size: 24px;
    text-align: center;
    margin-bottom: 12px;
    font-weight: 600;
}

.login-card {
    background-color: rgb(255, 255, 255);
    padding: 28px 36px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto;
    gap: 20px 18px;
    min-width: 320px;
}

.login-card>div {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.login-card>div label {
    font-family: Poppins;
    font-size: 13px;
}

.login-card>div input {
    font-family: Poppins;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 4px;
    border: solid 1px rgb(34, 34, 34);
    width: 100%;
}

.login-card>div input:focus {
    outline-color: rgb(90, 90, 90);
}

.login-card button {
    justify-self: end;
    padding: 6px 12px;
    font-family: Poppins;
    font-size: 13px;
    cursor: pointer;
    background: none;
    border-radius: 4px;
    border: solid 1px rgb(34, 34, 34);
    transition: all .25s ease;
}

.login-card button:hover {
    background-color: rgb(34, 34, 34);
    color: white;
}

@media screen and (max-width: 420px) {
    .login-card {
        min-width: auto;
    }
}






/* Products Content */

.products-content {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.products-content .products-tab {
    min-height: 70vh;
    padding: 0 140px;
    border-radius: 8px;
    display: flex;
    column-gap: 40px;
    margin-bottom: 50px;
    width: 100%;
    justify-content: center;
}

.products-content .products-tab .filters {
    min-width: 200px;
    border-right: solid 1px rgba(56, 56, 56, 0.2);
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.products-content .filters-sidebar-close {
    margin-left: auto;
    margin-right: 28px;
    display: none;
    cursor: pointer;
}

.products-content .products-tab .filters h2 {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
}

.products-content .products-tab .filters .filters-list {
    display: flex;
    flex-direction: column;
}

.products-content .products-tab .filters .filters-list a {
    text-decoration: none;
    font-size: 14px;
    font-family: Poppins;
    color: black;
    border-bottom: solid 1px rgba(56, 56, 56, 0.2);
    padding: 16px 8px;
    transition: all .2s ease;
}

.products-content .products-tab .filters .filters-list a:last-child {
    border-bottom: none;
}

.products-content .products-tab .filters .filters-list a:hover {
    background-color: whitesmoke;
    padding-left: 16px;
}

.products-content .products-tab .products-section {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    width: 100%;
}

.products-content .filters-sidebar-open {
    display: none;
    border: none;
    background-color: rgb(227, 227, 227);
    border-radius: 20px;
    font-family: 'Source Sans 3';
    font-size: 14px;
    align-self: flex-start;
    padding: 4px 16px;
    cursor: pointer;
}

.products-content .products-tab .products-section .products-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 15px;
    row-gap: 40px;
}

.products-content .products-tab .products-section .products-list .product-item {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background-color: white;
    padding: 26px 28px;
    border-radius: 12px;
    transition: all .15s ease-in-out;
}

.products-content .products-tab .products-section .products-list .product-item:hover {
    background-color: whitesmoke;
}

.products-content .products-tab .products-section .products-list .product-item img {
    width: 140px;
}

.products-content .products-tab .products-section .products-list .product-item .product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-content .products-tab .products-section .products-list .product-item .product-details h3 {
    font-family: 'Source Sans 3';
    font-size: 20px;
    font-weight: 500;
}

.products-content .products-tab .products-section .products-list .product-item .product-details span {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}

.products-content .products-tab .products-section .products-list .product-item button {
    background: none;
    border: solid 1px black;
    padding: 10px 16px;
    font-family: Roboto;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: all .15s ease-in-out;
}

.products-content .products-tab .products-section .products-list .product-item:hover>button {
    background: black;
    color: white;
}

@media screen and (max-width: 1400px) {
    .products-content .products-tab {
        padding: 40px 100px;
    }

    .products-content .products-tab .products-section .products-list {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 1100px) {
    .products-content .products-tab {
        padding: 40px 80px;
    }

    .products-content .products-tab .products-section .products-list {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 1000px) {
    .products-content {
        margin-top: 0;
    }

    .products-content .products-tab .filters {
        position: fixed;
        top: 0;
        left: -60%;
        height: 100vh;
        z-index: 1;
        padding-top: 140px;
        padding-left: 25px;
        background-color: white;
        border: none;
        width: 60%;
        transition: all .25s ease-in-out;
    }

    .products-content .filters-sidebar-close {
        display: block;
    }

    .products-content .products-tab .products-section .products-list {
        border-top: solid 1px rgba(56, 56, 56, 0.2);
        padding-top: 28px;
    }

    .products-content .filters-sidebar-open {
        display: inline-block;
    }
}

@media screen and (max-width: 710px) {
    .products-content .products-tab {
        padding: 28px 80px;
    }

    .products-content .products-tab .products-section .products-list {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 500px) {
    .products-content .products-tab {
        padding: 28px 40px;
    }
}






/* About Content */

.about-content {
    margin: 65px 0;
    display: flex;
    flex-direction: column;
    row-gap: 140px;
}

.about-content .about-us-section {
    margin: 0 262px;
}

.about-content .about-us-section h2 {
    font-family: Poppins;
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
    font-weight: 600;
}

.about-content .about-us-section .about-us-card {
    display: grid;
    grid-template-areas: 'about-para about-para' 'services img-list' 'services about-explore-btn';
    row-gap: 54px;
}

.about-content .about-us-section .about-us-card>p {
    grid-area: about-para;
    font-family: Poppins;
    font-size: 15px;
    line-height: 26px;
}

.about-content .about-us-section .about-us-card .services {
    grid-area: services;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.about-content .about-us-section .about-us-card .services h3 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
}

.about-content .about-us-section .about-us-card .services .service-list {
    display: flex;
    flex-direction: column;
}

.about-content .about-us-section .about-us-card .services .service-list span {
    font-family: Poppins;
    font-size: 15px;
    padding: 16px 0;
    border-top: solid 1px rgba(56, 56, 56, 0.2);
}

.about-content .about-us-section .about-us-card .services .service-list span:last-child {
    border-bottom: solid 1px rgba(56, 56, 56, 0.2);
}

.about-content .about-us-section .about-us-card .services .service-list span i {
    margin-right: 8px;
    color: rgb(0, 136, 120);
    transition: all .15s ease-in-out;
}

.about-content .about-us-section .about-us-card .img-list {
    grid-area: img-list;
    display: flex;
    justify-content: center;
    column-gap: 18px;
}

.about-content .about-us-section .about-us-card .img-list img {
    width: 160px;
    height: 260px;
    object-fit: cover;
}

.about-content .about-us-section .about-us-card>a {
    grid-area: about-explore-btn;
    text-decoration: none;
    color: black;
    padding: 6px 12px;
    border-radius: 6px;
    transition: all .15s ease-in-out;
    font-size: 15px;
    font-family: 'Source Sans 3';
    letter-spacing: 1px;
    border: solid 2px rgb(34, 34, 34);
    justify-self: center;
}

.about-content .about-us-section .about-us-card>a:hover {
    background-color: rgb(34, 34, 34);
    color: white;
}

@media screen and (max-width: 1225px) {
    .about-content .about-us-section {
        margin: 0 140px;
    }

    .about-content .about-us-section .about-us-card {
        grid-template-areas: 'about-para' 'services' 'img-list' 'about-explore-btn';
    }
}

@media screen and (max-width: 900px) {
    .about-content {
        margin-top: 28px;
    }

    .about-content .about-us-section {
        margin: 0 20px;
    }

    .about-us-section {
        margin: 28px;
    }

    .about-content .about-us-section .about-us-card .img-list img {
        width: 125px;
        height: 200px;
    }

    .about-content .about-us-section .about-us-card>p,
    .about-content .about-us-section .about-us-card .services .service-list span,
    .about-content .about-us-section .about-us-card>a {
        font-size: 14px;
    }
}

.about-content .contact-us-section {
    margin: 0 310px;
}

.about-content .contact-us-section h2 {
    font-family: Poppins;
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 600;
}

.about-content .contact-us-section .contact-tab {
    display: flex;
    justify-content: space-between;
}

.about-content .contact-us-section .contact-tab .contact-list {
    display: flex;
    flex-direction: column;
}

.about-content .contact-us-section .contact-tab .contact-list span {
    font-family: Poppins;
    font-size: 15px;
    padding: 16px 0;
}

.about-content .contact-us-section .contact-tab .contact-list span i {
    margin-right: 8px;
    color: rgb(0, 136, 120);
    transition: all .15s ease-in-out;
}

@media screen and (max-width: 1260px) {
    .about-content .contact-us-section {
        margin-left: 160px;
        margin-right: 160px;
    }
}

@media screen and (max-width: 1000px) {
    .about-content .contact-us-section h2 {
        text-align: center;
    }

    .about-content .contact-us-section .contact-tab {
        flex-direction: column;
        align-items: center;
        row-gap: 80px;
    }
}

@media screen and (max-width: 670px) {
    .about-content .contact-us-section {
        margin-left: 20px;
        margin-right: 20px;
    }

    .about-content .contact-us-section .contact-tab .contact-list span {
        font-size: 14px;
    }
}







/* Card Content */

.cart-content {
    margin: 40px 0;
}

.cart-content .cart-tab {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    align-items: start;
    padding: 0 40px;
}

.cart-content .cart-tab .cart-list {
    background-color: white;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    border-radius: 8px;
}

.cart-content .cart-tab .cart-list .cart-item {
    display: flex;
    align-items: start;
    justify-content: stretch;
}

.cart-content .cart-tab .cart-list .cart-item .item-no {
    background-color: orangered;
    color: white;
    padding: 8px 12px;
    border-radius: 8px 0 0 8px;
    font-size: 12px;
    font-family: Roboto;
}

.cart-content .cart-tab .cart-list .cart-item .cart-item-info {
    width: 100%;
    background-color: whitesmoke;
    padding: 18px 26px;
    display: grid;
    grid-template-areas: 'cart-item-info-pic cart-item-info-name cart-item-info-remove'
        'cart-item-info-pic cart-item-info-options cart-item-info-options'
        'cart-item-info-pic cart-item-info-price cart-item-info-qty';
    column-gap: 54px;
    row-gap: 20px;
    align-items: center;
    border-radius: 0 8px 8px 8px;
}

.cart-content .cart-tab .cart-list .cart-item .cart-item-info>img {
    grid-area: cart-item-info-pic;
    width: 110px;
    height: 110px;
    object-fit: cover;
}

.cart-content .cart-tab .cart-list .cart-item .cart-item-info .item-name {
    grid-area: cart-item-info-name;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
}

.cart-content .cart-tab .cart-list .cart-item .cart-item-info .options {
    grid-area: cart-item-info-options;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.cart-content .cart-tab .cart-list .cart-item .cart-item-info .options li {
    font-size: 14px;
    font-family: Poppins;
    color: rgb(80, 80, 80);
    display: flex;
    column-gap: 12px;
}

.cart-content .cart-tab .cart-list .cart-item .cart-item-info .options li img {
    width: 100px;
}

.cart-content .cart-tab .cart-list .cart-item .cart-item-info .price {
    grid-area: cart-item-info-price;
    font-size: 16px;
    font-family: Poppins;
}

.cart-content .cart-tab .cart-list .cart-item .cart-item-info .fa-xmark {
    grid-area: cart-item-info-remove;
    font-size: 16px;
    justify-self: end;
    cursor: pointer;
}

.cart-content .cart-tab .cart-list .cart-item .cart-item-info .qty {
    grid-area: cart-item-info-qty;
    font-size: 16px;
    justify-self: end;
    display: flex;
}

.cart-content .cart-tab .cart-list .cart-item .cart-item-info .qty button {
    border: none;
    background-color: orangered;
    color: white;
    font-size: 10px;
    padding: 6px 10px;
    cursor: pointer;
}

.cart-content .cart-tab .cart-list .cart-item .cart-item-info .qty button:first-child {
    border-radius: 4px 0 0 4px;
}

.cart-content .cart-tab .cart-list .cart-item .cart-item-info .qty button:last-child {
    border-radius: 0 4px 4px 0;
}

.cart-content .cart-tab .cart-list .cart-item .cart-item-info .qty input {
    border-style: solid;
    border-width: 1px 0;
    border-color: rgba(0, 0, 0, 0.2);
    max-width: 34px;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    color: rgb(46, 46, 46);
    padding: 2px 0;
}

.cart-content .cart-tab .cart-list .cart-item .cart-item-info .qty input:focus {
    outline: none;
}

.cart-content .cart-tab .cart-list .cart-item .cart-item-info .qty input::-webkit-outer-spin-button,
.cart-content .cart-tab .cart-list .cart-item .cart-item-info .qty input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart-content .cart-tab .cart-list .cart-item .cart-item-info .qty input[type=number] {
    -moz-appearance: textfield;
}

.cart-content .cart-tab .checkout {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 48px 40px;
    border-radius: 8px;
}

.cart-content .cart-tab .checkout .checkout-items {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    margin-bottom: 20px;
}

.cart-content .cart-tab .checkout .checkout-items h2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
}

.cart-content .cart-tab .checkout .checkout-items .checkout-items-list tr td {
    font-family: Poppins;
    font-size: 14px;
    padding-right: 18px;
    padding-bottom: 4px;
    vertical-align: top;
}

.cart-content .cart-tab .checkout .checkout-items .checkout-items-list tr td.rs {
    padding-right: 4px;
}

.cart-content .cart-tab .checkout .checkout-items .checkout-items-list tr td.qty {
    text-align: right;
}

.cart-content .cart-tab .checkout .checkout-items .checkout-items-list tr td.price {
    padding-right: 0;
    text-align: right;
}

.cart-content .cart-tab .checkout .checkout-items .checkout-items-list .shipping td {
    padding-bottom: 0;
}

.cart-content .cart-tab .checkout .checkout-items .total-price {
    display: flex;
    justify-content: space-between;
}

.cart-content .cart-tab .checkout .checkout-items .total-price span {
    font-family: Poppins;
    font-size: 16px;
}

.cart-content .cart-tab .checkout .checkout-items .total-price>div {
    display: flex;
    column-gap: 4px;
}

.cart-content .cart-tab .checkout .checkout-address {
    display: flex;
    flex-direction: column;
    border-top: solid 1px rgba(56, 56, 56, 0.2);
    padding: 20px 0;
    row-gap: 12px;
}

.cart-content .cart-tab .checkout .checkout-address>span {
    font-family: Poppins;
    font-size: 16px;
}

.cart-content .cart-tab .checkout .checkout-address .shipping-address {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.cart-content .cart-tab .checkout .checkout-address .shipping-address span {
    font-family: Poppins;
    font-size: 14px;
    color: rgb(80, 80, 80);
}

.cart-content .cart-tab .checkout .checkout-address>a {
    color: black;
    font-family: Poppins;
    font-size: 14px;
    align-self: flex-end;
}

.cart-content .cart-tab .checkout .confirm-order {
    border-top: solid 1px rgba(56, 56, 56, 0.2);
    padding: 20px 0;
    text-align: center;
}

.cart-content .cart-tab .checkout .confirm-order a {
    text-decoration: none;
    font-family: Poppins;
    font-size: 14px;
    background-color: orangered;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    transition: all .15s ease-in-out;
}

.cart-content .cart-tab .checkout .confirm-order a:hover {
    background-color: rgb(232, 62, 0);
}

@media screen and (max-width: 1250px) {
    .cart-content .cart-tab .cart-list .cart-item .cart-item-info {
        grid-template-areas: 'cart-item-info-remove cart-item-info-remove'
            'cart-item-info-pic cart-item-info-pic'
            'cart-item-info-name cart-item-info-name'
            'cart-item-info-options cart-item-info-options'
            'cart-item-info-price cart-item-info-qty';
    }

    .cart-content .cart-tab .cart-list .cart-item .cart-item-info>img {
        justify-self: center;
    }

    .cart-content .cart-tab .cart-list .cart-item .cart-item-info .fa-xmark {
        align-self: self-start;
    }
}

@media screen and (max-width: 850px) {
    .cart-content .cart-tab {
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    .cart-content .cart-tab {
        padding: 0 20px;
    }

    .cart-content .cart-tab .cart-list {
        padding: 48px 28px;
    }

    .cart-content .cart-tab .cart-list .cart-item {
        flex-direction: column;
    }

    .cart-content .cart-tab .cart-list .cart-item .item-no {
        border-radius: 8px 8px 0 0;
    }

    .cart-content .cart-tab .cart-list .cart-item .cart-item-info {
        padding: 36px 24px;
    }
}







/* Card Content */

.item-content {
    margin: 60px 0;
    padding: 0 20px;
    overflow: hidden;
}

.item-content .item-tab {
    background-color: white;
    padding: 40px 48px;
    border-radius: 12px;
    display: flex;
    column-gap: 52px;
}

.item-content .item-tab .item-image {
    border-right: solid 1px rgba(56, 56, 56, 0.2);
    padding-right: 50px;
}

.item-content .item-tab .item-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: solid 1px rgb(0, 0, 0);
    padding: 20px;
    border-radius: 12px;
}

.item-content .item-tab .item-details {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.item-content .item-tab .item-details>h1 {
    font-size: 22px;
    font-family: Poppins;
    font-weight: 600;
}

.item-content .item-tab .item-details>p {
    font-size: 14px;
    font-family: Poppins;
}

.item-content .item-tab .item-details>span {
    font-size: 18px;
    font-family: Poppins;
}

.item-content .item-tab .item-details>form {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    border-top: solid 1px rgba(56, 56, 56, 0.2);
    padding-top: 24px;
}

.item-content .item-tab .item-details>form .text {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 4px;
}

.item-content .item-tab .item-details>form .text label {
    font-size: 14px;
    font-family: Poppins;
}

.item-content .item-tab .item-details>form .text textarea {
    font-size: 14px;
    font-family: Poppins;
    padding: 4px 8px;
    resize: vertical;
    width: 100%;
}

.item-content .item-tab .item-details>form .text textarea:focus {
    outline: none;
}

.item-content .item-tab .item-details>form .options {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.item-content .item-tab .item-details>form .options span {
    font-size: 14px;
    font-family: Poppins;
}

.item-content .item-tab .item-details>form .options .options-list {
    display: flex;
    justify-content: space-between;
}

.item-content .item-tab .item-details>form .options .options-list>div {
    position: relative;
    border: solid 2px rgb(45, 102, 183);
    border-radius: 4px;
    display: flex;
}

.item-content .item-tab .item-details>form .options .options-list>div>label {
    font-size: 14px;
    font-family: Poppins;
    padding: 8px 12px;
}

.item-content .item-tab .item-details>form .options .options-list>div>input[type=radio] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
}

.item-content .item-tab .item-details>form .options .options-list>div>input[type=radio]:checked+label {
    background-color: rgb(45, 102, 183);
    color: white;
}

.item-content .item-tab .item-details>form .image {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.item-content .item-tab .item-details>form .image label,
.item-content .item-tab .item-details>form .image input {
    font-size: 14px;
    font-family: Poppins;
}

.item-content .item-tab .item-details>form .wrap {
    display: flex;
    column-gap: 4px;
}

.item-content .item-tab .item-details>form .wrap label {
    font-size: 14px;
    font-family: Poppins;
}

.item-content .item-tab .item-details>form>input[type=submit]:hover {
    background-color: rgb(0, 136, 120);
}

.item-content .item-tab .item-details>form .additional_info {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 4px;
}

.item-content .item-tab .item-details>form .additional_info label {
    font-size: 14px;
    font-family: Poppins;
}

.item-content .item-tab .item-details>form .additional_info textarea {
    font-size: 14px;
    font-family: Poppins;
    padding: 4px 8px;
    resize: vertical;
    width: 100%;
}

.item-content .item-tab .item-details>form .additional_info textarea:focus {
    outline: none;
}

.item-content .item-tab .item-details>form>input[type=submit] {
    font-size: 14px;
    font-family: Poppins;
    align-self: flex-start;
    padding: 6px 12px;
    background-color: rgb(0, 156, 138);
    color: white;
    border: none;
    border-radius: 4px;
    transition: all .15s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .item-content .item-tab {
        flex-direction: column;
        align-items: center;
        row-gap: 28px;
    }

    .item-content .item-tab .item-image {
        border-right: none;
        padding-right: 0;
    }

    .item-content .item-tab .item-details>form .options .options-list {
        column-gap: 8px;
    }
}

@media screen and (max-width: 510px) {
    .item-content .item-tab .item-details>form .options .options-list {
        display: grid;
        grid-template-columns: auto auto auto auto;
        row-gap: 8px;
        justify-items: start;
    }
}

@media screen and (max-width: 460px) {
    .item-content .item-tab {
        padding: 40px 28px;
    }
}